<div class="card">
  <div class="card-body">
    <h2 class="text-center">新規作成</h2>
    <%= form_with model: @emotion, local: true do |f| %>
    <!-- 感情名 -->
    <div class="form-group">
      <label>感情名</label>
      <%= f.text_field :emotion_name, class: "form-control" %>
    </div>
    <!-- 感情名 -->
    <div class="form-group">
      <label>感情内容</label>
      <%= f.text_field :emotion_comment, class: "form-control" %>
    </div>
    <!-- ボタン -->
    <div class="text-center">
      <%= f.submit "登録する", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>